**/__pycache__/

.DS_Store

.env
# TODO: Move CSVs to large file storage
*.csv
*.db
*.png
*.bin
*.sqlite3
tempCodeRunnerFile.py
NHLPA_NHL_MOU.txt
2024-25Rules.txt

# Keeping shot data dictionary CSV in repo
!notes/MoneyPuck_Shot_Data_Dictionary.csv