dotenv
chromadb>=0.4.5
streamlit
langchain-core
langchain-community
langchain-openai
langchain
pandas
matplotlib
hockey-rink
mysql-connector-python
pydantic
sqlalchemy
openai
scipy
requests
numpy
protobuf
torch
gunicorn
redis
pysqlite3
